[DEFAULT]
user=ocid1.user.oc1..aaaaaaaarqnt5lacwpgxa3wqsmec5w22wv3teohuflvdcrcd74agvsiq7upq
fingerprint=53:35:b4:2d:c7:ca:ca:2b:86:53:3f:e5:56:cf:eb:21
tenancy=ocid1.tenancy.oc1..aaaaaaaafqtdpajmhdh5drcxtiv3gadg6v56p4g4g7svx4vmf7k7srl6zwwa
region=us-phoenix-1
key_file=/Users/cbateman/.oci/cameron.bateman-06-16-16-40.pem

[ALWAYSFREE]
user=ocid1.user.oc1..aaaaaaaarqnt5lacwpgxa3wqsmec5w22wv3teohuflvdcrcd74agvsiq7upq
fingerprint=53:35:b4:2d:c7:ca:ca:2b:86:53:3f:e5:56:cf:eb:21
tenancy=ocid1.tenancy.oc1..aaaaaaaafqtdpajmhdh5drcxtiv3gadg6v56p4g4g7svx4vmf7k7srl6zwwa
region=us-ashburn-1
key_file=/Users/cbateman/.oci/cameron.bateman-06-16-16-40.pem

[ONPREMJAVA]
user=ocid1.user.oc1..aaaaaaaakk4xu76nxwfosexpzpap3c7qd7hjeiuursbj46cnmsrgcwveelua
fingerprint=ad:06:d2:26:52:d5:de:c0:6f:51:37:85:f5:f8:a8:f7
tenancy=ocid1.tenancy.oc1..aaaaaaaagojvam7c7hthdm7h2pgshjmiqntcvei4skgysz3galuejn3rioia
region=us-phoenix-1
key_file=/Users/cbateman/.oci/cameron.bateman-11-16-08-01.pem

[ASHBURN]
region=us-ashburn-1