[DEFAULT]
user=ocid1.user.oc1..aaaaaaaarqntblargh
fingerprint=xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx
tenancy=ocid1.tenancy.oc1.aaaaablah
region=us-phoenix-1
key_file=/Users/homer/.oci/hsimpson/homer-simpson-06-16-12.pem

[ALWAYSFREE]
user=ocid1.user.oc1..aaaaaaaarqntblargh
fingerprint=xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx
tenancy=ocid1.tenancy.oc1.aaaaablah
region=us-ashburn-1
key_file=/Users/homer/.oci/hsimpson/homer-simpson-06-16-12.pem

[ONPREMJAVA]
user=ocid1.user.oc1..aaaaaaaarqntblargh22
fingerprint=xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx
tenancy=ocid1.tenancy.oc1.aaaaablah2
region=us-phoenix-1
key_file=/Users/lisa/.oci/lsimpson/lisa-simpson-04-06-12.pem

[ASHBURN]
region=us-ashburn-1